.header{
    background: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

* {
    box-sizing: border-box;
  }
  
  
  .searchContainer input[type=text]:focus {
  border-bottom: 1px solid #0A7A42;
      box-shadow: 0 1px 0 0 #0e7441;
      }
  .searchContainer input[type=text] {
  color:#fff;
    padding: 10px;
    padding-left:0;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #ced4da;
      border-radius: 0;
      outline: 0;
      box-shadow: none;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
  }
  
  .searchContainer button {
    float: left;
    width: 20%;
    padding: 10px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
      border-bottom: 1px solid #ced4da;
      border-radius: 0;
      outline: 0;
      box-shadow: none;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .searchContainer button:hover {
    background: #0A7A42;
  }
  
  .searchContainer::after {
    content: "";
    clear: both;
    display: table;
  }